<!-- Content Header (Page header) -->
    <!-- 头部信息 -->
	<section class="content-header">
      <h1>
        基础环境管理
        <small>HOST管理</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 基础环境管理</a></li>
        <li><a href="#">HOST管理</a></li>
      </ol>
    </section>
	<!-- 头部结束 -->
<!-- Main content -->
<section class="content container-fluid">
    <!-- 页面内容开始 -->

<section class="content">
      <div class="row">
        <div class="col-md-12">
			<div class="box">
				<div class="box-body">
				<form id="searchForm" class="searchForm">
					<div class="form-inline">
						<div class="form-group">
						<label>I P:</label>
							<input type="text" id="ipaddr" class="form-control" placeholder="192.168.1.1">
						</div>
						<div class="form-group">
						<label>角色:</label>
							<select id="role" class="form-control">
							  <option value="0">master</option>
							  <option value="1">node</option>
							</select>
						</div>
						<div class="form-group">
						  <button type="submit" id="serach" class="btn btn-primary" >查询</button>
						<script type='text/javascript'>
						   $(function(){
							$('#serach').click(function(){
								requestremote();
							});
							
							function requestremote(){
							$.post("/kube/addhosts", { "select": "new" },
							  function(data){
							  alert(data); // John
							  alert(data.message); // John
							  
							  }, "json");}
						  
							})
						  </script>
						  <button class="btn btn-info" href="javascript:;" onclick="EditFun(0)"><i class="fa fa-plus"></i> 添加</button>  
						  <button type="submit" id="select" class="btn btn-primary">选择HOST</button>
						</div>
					</div>
				</form>
				</div>
			</div>		
		
		</div>
        <div class="col-md-12">

		<div class="box">
            <!-- /.box-header -->
			<div class="box-body">
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

			<div class="row">
				<div class="col-sm-12">
				<table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                <thead>
                <tr role="row">
					<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">IP</th>
					<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">角色</th>
					<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">LABEL</th>
					<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">集群名称</th>
					<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">备注</th>
					<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">操作</th>
				</tr>
                </thead>
                <tbody>
                <tr role="row" class="odd">
                  <td class="sorting_1">192.168.1.2</td>
                  <td>master</td>
                  <td>role:master</td>
                  <td>k8s</td>
                  <td></td>
                  <td><a href="#">编辑</a> | <a href="#">删除</a></td>
                </tr><tr role="row" class="even">
                  <td class="sorting_1">192.168.1.3</td>
                  <td>master</td>
                  <td>role:master</td>
                  <td>k8s</td>
                  <td></td>
                  <td><a href="#">编辑</a> | <a href="#">删除</a></td>
                </tr><tr role="row" class="odd">
                  <td class="sorting_1">192.168.1.4</td>
                  <td>node</td>
                  <td>role:node</td>
                  <td>k8s</td>
                  <td></td>
                  <td><a href="#">编辑</a> | <a href="#">删除</a></td>
                </tr><tr role="row" class="even">
                  <td class="sorting_1">192.168.1.5</td>
                  <td>node</td>
                  <td>role:node</td>
                  <td>k8s</td>
                  <td></td>
                  <td><a href="#">编辑</a> | <a href="#">删除</a></td>
                </tr><tr role="row" class="odd">
                  <td class="sorting_1">192.168.1.6</td>
                  <td>node</td>
                  <td>role:node</td>
                  <td>k8s</td>
                  <td></td>
                  <td><a href="#">编辑</a> | <a href="#">删除</a></td>
                </tr><tr role="row" class="even">
                  <td class="sorting_1">192.168.1.7</td>
                  <td>node</td>
                  <td>role:node</td>
                  <td>k8s</td>
                  <td></td>
                  <td><a href="#">编辑</a> | <a href="#">删除</a></td>
                </tr><tr role="row" class="odd">
                  <td class="sorting_1">192.168.1.8</td>
                  <td>node</td>
                  <td>role:node</td>
                  <td>k8s</td>
                  <td></td>
                  <td><a href="#">编辑</a> | <a href="#">删除</a></td>
                </tr><tr role="row" class="even">
                  <td class="sorting_1">192.168.1.9</td>
                  <td>node</td>
                  <td>role:node</td>
                  <td>k8s</td>
                  <td></td>
                  <td><a href="#">编辑</a> | <a href="#">删除</a></td>
                </tr></tbody>
                <tfoot>
                <tr>
					<th rowspan="1" colspan="1">#</th>
					<th rowspan="1" colspan="1">messages</th>
                </tfoot>
				</table>
				</div>
			</div>
			</div>
            </div>
            <!-- /.box-body -->
		</div>

        </div>
        <!-- /.col (RIGHT) -->
      </div>
      <!-- /.row -->
</section>


    <!-- 页面内容结束 -->
</section>
<!-- /.content -->

