    <input type="hidden" name="Id" id="Id" value="{{or .m.Id ""}}">
    <div class="row">
        <div class="col-md-4">
                <label>ClusterRole名称 :</label>
                <input type="text" name="ClusterRole" id="ClusterRole" class="form-control" placeholder="ClusterRole" value="{{or .m.Name ""}}">
        </div>
    </div>
		
    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="btn-group" id="toolbar">     
						<input type="button" class="btn btn-info" id="addfun" value="添加">  
						<input type="button" class="btn btn-danger table-btn-check-enable" disabled onclick="DeleteFun();" value="删除">  
                    </div>
                    <table id="dataGridEditClusterRole"></table>
                </div>
            </div>
        </div>
    </div>
</div>