<form id="thisFormNode">
    <input type="hidden" name="Id" id="Id">
    <div class="row">
		<div class="col-md-6">
			<div class="form-group">
                <label>集群名称</label>
                <input type="text" id="Clustername" class="form-control" disabled>
            </div>
			<div class="form-group">
                <label>用户组名称</label>
                <input type="text" id="UserGroup" class="form-control">
            </div>
			<div class="form-group">
                <label>命名空间</label>
                <select class="form-control select2 select2-hidden-accessible" data-placeholder="选择命名空间" style="width: 100%;" tabindex="-1" aria-hidden="true">
                  <option>Alabama</option>
                  <option>Alaska</option>
                  <option>California</option>
                  <option>Delaware</option>
                  <option>Tennessee</option>
                  <option>Texas</option>
                  <option>Washington</option>
                </select>
            </div>
			<div class="form-group">
                <label>ClusterRole</label>
                <select class="form-control select2 select2-hidden-accessible" data-placeholder="选择ClusterRole" style="width: 100%;" tabindex="-1" aria-hidden="true">
                  <option>Alabama</option>
                  <option>Alaska</option>
                  <option>California</option>
                  <option>Delaware</option>
                  <option>Tennessee</option>
                  <option>Texas</option>
                  <option>Washington</option>
                </select>
            </div>
			<div class="form-group">
                <label>Bind Name</label>
                <input type="text" id="BindName" class="form-control">
            </div>
		</div>
    </div>

</form>
</div>