<form id="thisFormCluster">
    <input type="hidden" name="NamespaceId" id="NamespaceId" value="{{or .m.Id ""}}">
    <input type="hidden" name="ClusterId" id="ClusterId" value="{{or .m.ClusterId ""}}">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>命名空间</label>
                <input type="text" name="Name" class="form-control" placeholder="defaultNamespace" value="{{or .m.Name ""}}">
            </div>
            <div class="form-group">
                <label>集群名称</label>
                <input type="text" name="ClusterName" class="form-control" placeholder="K8S" value="{{or .m.ClusterName ""}}{{or .ClusterName ""}}" disabled>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>备注</label>
                <textarea name="Remark" class="form-control" placeholder="">{{or .m.Remark ""}}</textarea>
            </div>
        </div>
    </div>
</form>
</div>