	<input type="hidden" id="ClusterId" value="{{or .m.KubeServiceAccounts.ClusterId ""}}">
	<input type="hidden" id="Id" value="{{or .m.KubeServiceAccounts.Id ""}}">
	
	<input type="hidden" id="CreateUser" value="{{or .m.KubeServiceAccounts.CreateUser ""}}">
	<div class="row">
        <div class="col-md-4">
			<label>集群名称 :</label>
			<input type="text" name="ClusterName" id="ClusterName" class="form-control" placeholder="集群名称" value="{{or .m.KubeServiceAccounts.ClusterName ""}}" disabled>
        </div>
    </div>
	<br />
    <div class="row">
        <div class="col-md-4">
			<label>SA名称 :</label>
			<input type="text" name="Name" id="Name" class="form-control" placeholder="ServiceName" value="{{or .m.KubeServiceAccounts.Name ""}}">
        </div>
    </div>
	<br />
    <div class="row">
        <div class="col-md-4">
			<label>备注 :</label>
			<input type="text" name="Remark" id="Remark" class="form-control" placeholder="备注" value="{{or .m.KubeServiceAccounts.Remark ""}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="btn-group" id="toolbar">     
						<input type="button" class="btn btn-info" id="addfun" value="添加">  
						<input type="button" class="btn btn-danger table-btn-check-enable" disabled onclick="DeleteFun();" value="删除">  
                    </div>
                    <table id="dataGridEditClusterSa"></table>
                </div>
            </div>
        </div>
    </div>
</div>