
    <input type="hidden" name="Id" id="Id">
    <div class="row">
		<div class="col-md-6">
			<div class="form-group">
                <label>集群名称</label>
                <input type="text" id="Clustername" class="form-control" disabled>
            </div>
		</div>
    </div>
	
    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="btn-group" id="toolbar">     
						<input type="button" class="btn btn-info" id="addfun" value="添加">  
						<input type="button" class="btn btn-danger table-btn-check-enable" disabled onclick="DeleteFun();" value="删除">  
                    </div>
                    <table id="dataGridAllocationNode"></table>
                </div>
            </div>
        </div>
    </div>

</div>